.banner {
    /* height: 163px; */
    width: 100%;
    background-color: var(--color-light-blue);
    padding: 30px 0;
}

.text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-blue-text);
}

.list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.list li {
    margin-bottom: 8px;
    font-size: 24px;
}

.listItems img {
    height: 32px;
    margin: 0 40px;
}

.listItems {
    display: inline-block;
    animation: 25s slide infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.banner:hover .listItems {
    animation-play-state: paused;
}