.whole {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 5%;
    margin-bottom: 200px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 5%;
    border-top: 1px solid #CECACA;
}


.partOne {
    flex: 1;
}

.partOne p {
    color: #252323;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.partTwo {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.partTwo .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.partTwo p {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 24px;
}

.privacy p {
    color: #FFF;
}

.theBottom {
    border-bottom: 1px solid #CECACA;
    margin: 0 5%;
    padding: 12px;
    text-align: right;
}

.theBottom p {
    font-weight: 300;
    font-size: 12px;
}




@media screen and (max-width: 830px) {

    .links {
        flex-direction: column;
    }

    .theBottom {
        text-align: left;
    }

    .partTwo {
        margin-top: 50px;
        justify-content: start;
    }

}